body {
    background-color: #e6e6e6;
}

.navbar-modificada {
    background-color: #00e600;
    border-color: #00e600
}

#liks-menu {
    text-align: right;
    padding-top: 15px;
    font-weight: bold;
}

#liks-menu a{
    text-decoration: none;
    color: #030303;
    font-size: 1.2em;
    padding-left: 1%;
}

#liks-menu a:hover{
    text-decoration: none;
    color: #252323;
}

h3 {
    text-align: center;
    color: #030303;
}

/*EU*/
#eu {
    padding-top: 15%;
    padding-left: 15%
}

#meu-nome {
    font-size: 1.5em;
}

h3 {
    padding-top: 5%
}

#sobre-eu {
    color: #030303;
    font-size: 1.2em;
    padding-left:5%
}

/*SKILLS*/
#skills {
    padding-top: 1%;
    padding-left: 20%;
    padding-right: 15%;
    color: #030303;
    font-size: 1.3em;
}

/*PROJETOS*/
#projetos {
    padding-top: 1%;
}

/*CONTATOS*/
#contatos {
    padding-top: 1%;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 1.2em;
    color: #030303
}

#recomendacoes {
    padding-left: 20%;
    padding-right: 15%;
}

#comentario {
    padding-right: 0%;
    padding-left: 5%;
    background-color: white
}

#contatos a {
    text-decoration: none;
}

/*RODAPÉ*/
#rodape {
    text-align: center;
    padding-top: 2%;
    color: #030303
}